* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
}

header h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

nav {
    padding: 16px;
    flex-basis: 25%;
}

nav ul {
    list-style: none;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
}
